
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutSite.cshtml";
}
<div class="container" >
    <h2>
        Cửa hàng E-Shop là thương hiệu túi xách thời trang số 1 quận 10.

    </h2>
    <p style="line-height:40px">
     Ra mắt vào năm 2020, sứ mệnh của chúng tôi là đưa đến tay người tiêu dùng những sản phẩm chất lượng đi đôi với dịch vụ tốt nhất.

    </pstyle="line-height:200px">
    <a href="~/">Đến với E-Shop ngay nào!</a>
</div>

