
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutSite.cshtml";
}
<section class="breadcrumb-section bg-white">
    <h2 class="sr-only">Site Breadcrumb</h2>
    <div class="container">
        <div class="breadcrumb-contents">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Theo dõi đơn hàng</li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<div class="container">

    <form action="" method="post">
        <div class="row ">
            <div class="col-md-3 ">
            </div>
            <div class="col-md-6 p-5">
                <div class=" text-danger text-center">
                    <h4 class="p-2" for="email">Nhập vào SDT đặt hàng</h4>
                    <input class="w-100  " type="text" name="phone" placeholder="SDT nhận hàng." required>
                </div>
                <div class="text-center p-2">
                <button type="submit" class="btn btn-outlined w-100 col-md-3 justify-content-center">Xem</button>
                </div>

            </div>
            <div class="col-md-3 ">
            </div>
        </div>

    </form>
</div>

