@model IEnumerable<ShopAoThung.Models.Morder>
@{
    ViewBag.Title = "listOrders";
    Layout = "~/Views/Shared/_layoutSite.cshtml";
}

<div class="container bg-white mb-5">
    <div class="page-section-title">
        <h3>Theo dõi đơn hàng</h3>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table shopping-summery">
                <thead>
                    <tr class="main-hading">
                        <th class="pro-remove">Code</th>
                        <th class="pro-thumbnail">Tên khách hàng</th>
                        <th class="pro-title">Thời gian order</th>
                        <th class="pro-price">Thời gian giao hàng(dự kiến)</th>
                        <th class="pro-quantity">Trạng thái đơn hàng</th>
                        <th class="pro-subtotal">Chi tiết</th>
                    </tr>
                </thead>
                <tbody>
                
                    @foreach (var item in Model)
                    {
                        

                    <tr>
                        <td class="image" data-title="No">@item.deliveryname</td>
                        <td class="product-des" data-title="Description">
                            <p class="product-name"><a href="#">@item.deliveryname</a></p>

                        </td>
                        <td class="price" data-title="Price">   @item.created_ate</td>

                        <td class="total-amount" data-title="Total">

                            <strong class="text-danger">@item.exportdate</strong>
                        </td>
                        <td>
                            @if (item.status == 2)
                            {
                                <span class="text-danger">Chờ duyệt</span>
                            }
                            else if (item.status == 1)
                            {
                                <span class="text-danger">Đã hoàn thành</span>
                            }
                            else if (item.status == 3)
                            {
                                <span class="text-danger">Đã Hủy</span>
                            }
                        </td>
                        
                        <td class="pro-subtotal"> <a href="thong-tin-don-hang/@item.ID">Xem thêm</a></td>
                    </tr>
                    
                    }
                </tbody>
            </table>
            </div>
        </div>
    </div>
     