<ul class="main-category">
    <li>
        <a href="#">New Arrivals <i class="fa fa-angle-right" aria-hidden="true"></i></a>

        <ul class="sub-category">

            <li><a href="#">accessories</a></li>


        </ul>

    </li>
    
 
</ul>
